bin/
obj/
.vs/
.idea/
*.user
*.suo
*.pdb
src/MaximalBastion/Content/bin/
src/MaximalBastion/Content/obj/
src/MaximalBastion.Web/wwwroot/Content/
.dotnet/
.build/
.artifacts/
.verification/
src/MaximalBastion.Mobile/assets/runtime/
